In [3]:
import numpy as np
import pandas as pd
from math import sqrt
import matplotlib.pyplot as plt
%matplotlib inline

Reading the datasets that we have. We will need movies and the ratings files.

In [4]:
movie = pd.read_csv('movie.csv')
rating= pd.read_csv('rating.csv')

Quick view of the two dataframes, the rows and the columns

In [3]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

rating.head()

Using pandas' replace function, we remove the year from the title in the movie dataframe and add a separate year column.
This is done using regular expressions. Find a year stored between parentheses. We specify the parantheses so we don't conflict with movies that have years in their titles.

First we create the new Year column in the movie dataframe.

In [5]:
movie['year'] = movie.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movie['year'] = movie.year.str.extract('(\d\d\d\d)',expand=False)

Now removing the year from the title in the Title column.

In [6]:
#Removing the years from the 'title' column
movie['title'] = movie.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movie['title'] = movie['title'].apply(lambda x: x.strip())

C:\Users\Dell\AppData\Local\Temp/ipykernel_1832/2563781091.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  movie['title'] = movie.title.str.replace('(\(\d\d\d\d\))', '')

In [7]:
movie.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

Collaborative filtering doesn't recommend based on the features of the movie. The recommendation is based on the likes and dislikes or ratings of the neighbours or other users. 
So we will drop the genre column, since there is no use of it.

In [8]:
movie.drop(columns=['genres'], inplace=True)

In [9]:
movie.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

Now, coming to the ratings dataframe, we have the movieId column that is common with the movie dataframe. Each user has given multiple ratings for different movies. The column Timestamp is not needed for the recommendation system. So we can drop it.

In [10]:
rating.drop(columns=['timestamp'],inplace=True)

In [11]:
rating.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

The technique is called Collaborative Filtering, which is also known as User-User Filtering. As hinted by its alternate name, this technique uses other users to recommend items to the input user. It attempts to find users that have similar preferences and opinions as the input and then recommends items that they have liked to the input. There are several methods of finding similar users (Even some making use of Machine Learning), and the one we will be using here is going to be based on the Pearson Correlation Function.

The process for creating a User Based recommendation system is as follows:
- Select a user with the movies the user has watched
- Based on his rating to movies, find the top X neighbours 
- Get the watched movie record of the user for each neighbour.
- Calculate a similarity score using some formula
- Recommend the items with the highest score

In [12]:
user = [
            {'title':'Breakfast Club, The', 'rating':4},
            {'title':'Toy Story', 'rating':2.5},
            {'title':'Jumanji', 'rating':3},
            {'title':"Pulp Fiction", 'rating':4.5},
            {'title':'Akira', 'rating':5}
         ] 
inputMovie = pd.DataFrame(user)
inputMovie

                 title  rating
0  Breakfast Club, The     4.0
1            Toy Story     2.5
2              Jumanji     3.0
3         Pulp Fiction     4.5
4                Akira     5.0

We need to now add the movieId column from the movie dataframe into the inputMovie Dataframe. 
First filter out the rows that contain the input movies' title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [13]:
#Filtering out the movies by title
Id = movie[movie['title'].isin(inputMovie['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovie = pd.merge(Id, inputMovie)
#Dropping information we won't use from the input dataframe
inputMovie = inputMovie.drop('year', 1) #0 for rows, 1 for columns
inputMovie

C:\Users\Dell\AppData\Local\Temp/ipykernel_1832/397080606.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  inputMovie = inputMovie.drop('year', 1) #0 for rows, 1 for columns

   movieId                title  rating
0        1            Toy Story     2.5
1        2              Jumanji     3.0
2      296         Pulp Fiction     4.5
3     1274                Akira     5.0
4     1968  Breakfast Club, The     4.0

**Finding the users who have seen the same movies from the rating dataframe**
With the movie ID's in our input, we can now get the subset of users that have watched and reviewed the movies in our input.

In [14]:
#Filtering out users that have watched movies that the input has watched and storing it
users = rating[rating['movieId'].isin(inputMovie['movieId'].tolist())]
users.head()

     userId  movieId  rating
0         1        2     3.5
11        1      296     4.0
236       3        1     4.0
451       5        2     3.0
517       6        1     5.0

In [15]:
users.shape

(168730, 3)

In [16]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = users.groupby(['userId'])

In [17]:
#showing one such group example by getting all the users of a particular userId
userSubsetGroup.get_group(1130)

        userId  movieId  rating
166633    1130     1968     4.0

In [18]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [19]:
userSubsetGroup[0:3]

[(91,
        userId  movieId  rating
  9621      91        1     4.0
  9622      91        2     3.5
  9669      91      296     3.5
  9826      91     1274     2.5
  9903      91     1968     4.0),
 (294,
         userId  movieId  rating
  37452     294        1     4.5
  37453     294        2     4.5
  37504     294      296     4.5
  37648     294     1274     4.5
  37731     294     1968     5.0),
 (586,
         userId  movieId  rating
  81164     586        1     2.5
  81165     586        2     3.0
  81226     586      296     5.0
  81390     586     1274     4.0
  81499     586     1968     3.0)]

**Similarity of users to input user**
Next, we are going to compare all users  to our specified user and find the one that is most similar.
we're going to find out how similar each user is to the input through the Pearson Correlation Coefficient. It is used to measure the strength of a linear association between two variables. The formula for finding this coefficient between sets X and Y with N values can be seen in the image below.

Why Pearson Correlation?

Pearson correlation is invariant to scaling, i.e. multiplying all elements by a nonzero constant or adding any constant to all elements. For example, if you have two vectors X and Y,then, pearson(X, Y) == pearson(X, 2 * Y + 3). This is a pretty important property in recommendation systems because for example two users might rate two series of items totally different in terms of absolute rates, but they would be similar users (i.e. with similar ideas) with similar rates in various scales .

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/bd1ccc2979b0fd1c1aec96e386f686ae874f9ec0 "Pearson Correlation") 

The values given by the formula vary from r = -1 to r = 1, where 1 forms a direct correlation between the two entities (it means a perfect positive correlation) and -1 forms a perfect negative correlation.

In our case, a 1 means that the two users have similar tastes while a -1 means the opposite.

In [20]:
userSubsetGroup = userSubsetGroup[0:100]
userSubsetGroup

[(91,
        userId  movieId  rating
  9621      91        1     4.0
  9622      91        2     3.5
  9669      91      296     3.5
  9826      91     1274     2.5
  9903      91     1968     4.0),
 (294,
         userId  movieId  rating
  37452     294        1     4.5
  37453     294        2     4.5
  37504     294      296     4.5
  37648     294     1274     4.5
  37731     294     1968     5.0),
 (586,
         userId  movieId  rating
  81164     586        1     2.5
  81165     586        2     3.0
  81226     586      296     5.0
  81390     586     1274     4.0
  81499     586     1968     3.0),
 (648,
         userId  movieId  rating
  92885     648        1     4.0
  92886     648        2     2.0
  92937     648      296     5.0
  93124     648     1274     4.0
  93237     648     1968     3.0),
 (775,
          userId  movieId  rating
  113566     775        1     4.5
  113567     775        2     2.0
  113695     775      296     5.0
  114057     775     1274     4.5
  114255     775     1968     4.0),
 (812,
          userId  movieId  rating
  120506     812        1     4.0
  120507     812        2     1.0
  120570     812      296     3.0
  120746     812     1274     2.0
  120875     812     1968     4.0),
 (869,
          userId  movieId  rating
  127831     869        1     4.5
  127832     869        2     3.5
  127868     869      296     5.0
  127954     869     1274     4.0
  128009     869     1968     3.0),
 (903,
          userId  movieId  rating
  132023     903        1     4.0
  132024     903        2     4.0
  132234     903      296     5.0
  132825     903     1274     4.0
  133193     903     1968     2.0),
 (1200,
          userId  movieId  rating
  177227    1200        1     3.5
  177228    1200        2     3.0
  177278    1200      296     5.0
  177415    1200     1274     3.0
  177505    1200     1968     3.5),
 (1244,
          userId  movieId  rating
  182533    1244        1     4.0
  182534    1244        2     3.5
  182571    1244      296     3.5
  182676    1244     1274     4.5
  182756    1244     1968     3.5),
 (1715,
          userId  movieId  rating
  246701    1715        1     4.0
  246702    1715        2     1.0
  246760    1715      296     5.0
  246949    1715     1274     5.0
  247072    1715     1968     4.0),
 (1748,
          userId  movieId  rating
  252746    1748        1     4.0
  252747    1748        2     3.0
  252807    1748      296     5.0
  252977    1748     1274     4.0
  253071    1748     1968     4.0),
 (1763,
          userId  movieId  rating
  255721    1763        1     4.0
  255722    1763        2     4.0
  255772    1763      296     4.0
  256004    1763     1274     4.5
  256117    1763     1968     3.0),
 (1810,
          userId  movieId  rating
  261070    1810        1     3.5
  261071    1810        2     3.0
  261083    1810      296     5.0
  261149    1810     1274     4.0
  261183    1810     1968     4.0),
 (1813,
          userId  movieId  rating
  262019    1813        1     4.5
  262020    1813        2     1.5
  262056    1813      296     5.0
  262146    1813     1274     4.0
  262197    1813     1968     4.0),
 (1849,
          userId  movieId  rating
  267443    1849        1     4.5
  267444    1849        2     3.0
  267547    1849      296     4.0
  267813    1849     1274     4.0
  267974    1849     1968     4.0),
 (1864,
          userId  movieId  rating
  271359    1864        1     4.0
  271360    1864        2     3.0
  271414    1864      296     5.0
  271600    1864     1274     4.0
  271743    1864     1968     4.0),
 (1942,
          userId  movieId  rating
  282330    1942        1     4.0
  282331    1942        2     2.0
  282415    1942      296     5.0
  282665    1942     1274     3.0
  282825    1942     1968     4.0),
 (1984,
          userId  movieId  rating
  289308    1984        1     4.0
  289309    1984        2     3.5
  289335    1984      296     3.0
  289418    1984     1274     0.5
  289460    1984     1968     3.5),
 (2047,
          userId  movieId  rating
  298592    2047        1     4.5
  298593    2047        2     1.5
  298624    2047      296     5.0
  298725    2047     1274     5.0
  298780    2047     1968     4.5),
 (2099,
          userId  movieId  rating
  307231    2099        1     4.0
  307232    2099        2     4.0
  307287    2099      296     4.0
  307457    2099     1274     4.0
  307583    2099     1968     3.5),
 (2367,
          userId  movieId  rating
  350142    2367        1     4.5
  350143    2367        2     2.5
  350166    2367      296     4.5
  350229    2367     1274     3.0
  350263    2367     1968     3.5),
 (2397,
          userId  movieId  rating
  355522    2397        1     4.0
  355523    2397        2     4.0
  355600    2397      296     4.0
  355850    2397     1274     4.0
  355987    2397     1968     4.0),
 (2515,
          userId  movieId  rating
  371044    2515        1     2.0
  371045    2515        2     2.0
  371061    2515      296     4.0
  371133    2515     1274     4.0
  371167    2515     1968     4.0),
 (2661,
          userId  movieId  rating
  389887    2661        1     4.0
  389888    2661        2     4.0
  389905    2661      296     4.5
  389957    2661     1274     5.0
  389987    2661     1968     4.0),
 (2757,
          userId  movieId  rating
  404251    2757        1     4.0
  404252    2757        2     4.0
  404293    2757      296     4.5
  404501    2757     1274     5.0
  404615    2757     1968     5.0),
 (2959,
          userId  movieId  rating
  435843    2959        1     3.5
  435844    2959        2     4.0
  435868    2959      296     3.5
  435966    2959     1274     4.0
  435999    2959     1968     4.5),
 (2988,
          userId  movieId  rating
  439191    2988        1     3.0
  439192    2988        2     2.5
  439229    2988      296     5.0
  439352    2988     1274     2.5
  439413    2988     1968     5.0),
 (3179,
          userId  movieId  rating
  465398    3179        1     4.0
  465399    3179        2     3.0
  465445    3179      296     4.0
  465590    3179     1274     3.5
  465658    3179     1968     3.0),
 (3218,
          userId  movieId  rating
  473276    3218        1     4.0
  473277    3218        2     2.0
  473325    3218      296     4.0
  473465    3218     1274     3.5
  473548    3218     1968     5.0),
 (3268,
          userId  movieId  rating
  481980    3268        1     4.0
  481981    3268        2     3.5
  482020    3268      296     4.5
  482104    3268     1274     4.5
  482145    3268     1968     4.0),
 (3269,
          userId  movieId  rating
  482851    3269        1     3.5
  482852    3269        2     2.0
  482879    3269      296     5.0
  483019    3269     1274     3.0
  483098    3269     1968     5.0),
 (3318,
          userId  movieId  rating
  492128    3318        1     4.5
  492129    3318        2     3.0
  492249    3318      296     5.0
  492565    3318     1274     4.0
  492793    3318     1968     5.0),
 (3397,
          userId  movieId  rating
  502297    3397        1     3.5
  502298    3397        2     2.0
  502377    3397      296     3.0
  502589    3397     1274     4.0
  502747    3397     1968     3.5),
 (3487,
          userId  movieId  rating
  514575    3487        1     4.5
  514576    3487        2     3.0
  514629    3487      296     4.0
  514767    3487     1274     3.0
  514856    3487     1968     4.0),
 (3576,
          userId  movieId  rating
  528527    3576        1     4.0
  528528    3576        2     2.5
  528597    3576      296     4.5
  528861    3576     1274     4.0
  528983    3576     1968     3.0),
 (3629,
          userId  movieId  rating
  538146    3629        1     4.5
  538147    3629        2     3.5
  538199    3629      296     4.5
  538388    3629     1274     5.0
  538509    3629     1968     5.0),
 (3858,
          userId  movieId  rating
  572672    3858        1     4.0
  572673    3858        2     1.5
  572748    3858      296     5.0
  572990    3858     1274     1.5
  573129    3858     1968     3.0),
 (3986,
          userId  movieId  rating
  595152    3986        1     4.5
  595153    3986        2     4.0
  595173    3986      296     5.0
  595287    3986     1274     4.0
  595354    3986     1968     5.0),
 (4034,
          userId  movieId  rating
  601700    4034        1     3.5
  601701    4034        2     3.5
  601737    4034      296     4.5
  601842    4034     1274     3.5
  601898    4034     1968     4.0),
 (4332,
          userId  movieId  rating
  649968    4332        1     4.5
  649969    4332        2     4.0
  649994    4332      296     4.5
  650069    4332     1274     4.5
  650097    4332     1968     4.0),
 (4358,
          userId  movieId  rating
  654138    4358        1     5.0
  654139    4358        2     3.0
  654235    4358      296     5.0
  654586    4358     1274     5.0
  654809    4358     1968     2.0),
 (4529,
          userId  movieId  rating
  681278    4529        1     4.0
  681279    4529        2     2.5
  681372    4529      296     4.0
  681605    4529     1274     2.5
  681720    4529     1968     4.5),
 (4598,
          userId  movieId  rating
  693345    4598        1     4.0
  693346    4598        2     3.0
  693392    4598      296     4.0
  693548    4598     1274     4.0
  693642    4598     1968     3.0),
 (4696,
          userId  movieId  rating
  706448    4696        1     5.0
  706449    4696        2     3.0
  706551    4696      296     5.0
  706846    4696     1274     5.0
  707016    4696     1968     4.0),
 (5504,
          userId  movieId  rating
  825650    5504        1     3.0
  825651    5504        2     4.0
  825694    5504      296     2.5
  825807    5504     1274     2.0
  825889    5504     1968     4.0),
 (5518,
          userId  movieId  rating
  829095    5518        1     5.0
  829096    5518        2     2.0
  829166    5518      296     5.0
  829396    5518     1274     4.0
  829551    5518     1968     4.0),
 (5576,
          userId  movieId  rating
  836647    5576        1     4.0
  836648    5576        2     2.0
  836738    5576      296     5.0
  837055    5576     1274     5.0
  837237    5576     1968     4.0),
 (5706,
          userId  movieId  rating
  852311    5706        1     4.5
  852312    5706        2     3.0
  852352    5706      296     4.5
  852507    5706     1274     4.0
  852579    5706     1968     4.0),
 (5791,
          userId  movieId  rating
  866606    5791        1     4.0
  866607    5791        2     4.0
  866675    5791      296     5.0
  866890    5791     1274     4.0
  867033    5791     1968     4.0),
 (5825,
          userId  movieId  rating
  871553    5825        1     3.0
  871554    5825        2     2.5
  871584    5825      296     4.0
  871707    5825     1274     3.0
  871752    5825     1968     3.5),
 (6057,
          userId  movieId  rating
  903552    6057        1     3.0
  903553    6057        2     3.0
  903571    6057      296     4.0
  903621    6057     1274     4.0
  903647    6057     1968     3.0),
 (6207,
          userId  movieId  rating
  928947    6207        1     5.0
  928948    6207        2     3.0
  928979    6207      296     5.0
  929125    6207     1274     4.0
  929190    6207     1968     4.0),
 (6233,
          userId  movieId  rating
  931529    6233        1     4.5
  931530    6233        2     4.0
  931542    6233      296     3.5
  931604    6233     1274     4.0
  931628    6233     1968     4.5),
 (6369,
          userId  movieId  rating
  948471    6369        1     3.5
  948472    6369        2     2.5
  948518    6369      296     3.5
  948640    6369     1274     3.5
  948723    6369     1968     3.0),
 (6630,
          userId  movieId  rating
  982855    6630        1     5.0
  982856    6630        2     2.0
  982970    6630      296     5.0
  983302    6630     1274     3.0
  983503    6630     1968     3.0),
 (6743,
           userId  movieId  rating
  999796     6743        1     4.0
  999797     6743        2     3.0
  999847     6743      296     5.0
  999968     6743     1274     4.5
  1000043    6743     1968     4.0),
 (6976,
           userId  movieId  rating
  1028626    6976        1     4.5
  1028627    6976        2     2.0
  1028685    6976      296     4.5
  1028867    6976     1274     2.5
  1028986    6976     1968     1.0),
 (6978,
           userId  movieId  rating
  1029978    6978        1     3.0
  1029979    6978        2     3.0
  1030049    6978      296     4.0
  1030248    6978     1274     5.0
  1030356    6978     1968     3.0),
 (7083,
           userId  movieId  rating
  1044994    7083        1     4.0
  1044995    7083        2     3.0
  1045017    7083      296     5.0
  1045071    7083     1274     2.0
  1045089    7083     1968     4.0),
 (7443,
           userId  movieId  rating
  1091749    7443        1     4.5
  1091750    7443        2     4.0
  1091785    7443      296     5.0
  1091903    7443     1274     4.5
  1091960    7443     1968     4.5),
 (7539,
           userId  movieId  rating
  1104677    7539        1     4.0
  1104678    7539        2     2.5
  1104686    7539      296     5.0
  1104714    7539     1274     4.5
  1104736    7539     1968     3.0),
 (7545,
           userId  movieId  rating
  1105126    7545        1     3.5
  1105127    7545        2     3.0
  1105156    7545      296     4.5
  1105247    7545     1274     4.0
  1105294    7545     1968     2.0),
 (8032,
           userId  movieId  rating
  1174643    8032        1     2.0
  1174644    8032        2     2.5
  1174687    8032      296     4.0
  1174809    8032     1274     4.0
  1174894    8032     1968     4.0),
 (8082,
           userId  movieId  rating
  1182208    8082        1     3.5
  1182209    8082        2     3.5
  1182254    8082      296     4.0
  1182381    8082     1274     5.0
  1182450    8082     1968     4.0),
 (8207,
           userId  movieId  rating
  1200860    8207        1     3.5
  1200861    8207        2     3.0
  1200874    8207      296     4.5
  1200932    8207     1274     3.5
  1200964    8207     1968     3.5),
 (8316,
           userId  movieId  rating
  1214841    8316        1     3.5
  1214842    8316        2     3.5
  1214853    8316      296     4.5
  1214896    8316     1274     4.0
  1214913    8316     1968     4.0),
 (8405,
           userId  movieId  rating
  1225775    8405        1     5.0
  1225776    8405        2     3.0
  1225976    8405      296     5.0
  1226637    8405     1274     5.0
  1227032    8405     1968     4.0),
 (8412,
           userId  movieId  rating
  1234653    8412        1     5.0
  1234654    8412        2     2.0
  1234691    8412      296     5.0
  1234805    8412     1274     4.5
  1234858    8412     1968     5.0),
 (8417,
           userId  movieId  rating
  1235346    8417        1     4.5
  1235347    8417        2     3.5
  1235364    8417      296     4.5
  1235398    8417     1274     4.5
  1235414    8417     1968     4.0),
 (8558,
           userId  movieId  rating
  1255587    8558        1     3.0
  1255588    8558        2     1.5
  1255622    8558      296     4.0
  1255716    8558     1274     4.5
  1255760    8558     1968     2.5),
 (8623,
           userId  movieId  rating
  1266205    8623        1     4.0
  1266206    8623        2     3.0
  1266270    8623      296     5.0
  1266391    8623     1274     5.0
  1266497    8623     1968     4.0),
 (8805,
           userId  movieId  rating
  1291664    8805        1     3.0
  1291665    8805        2     3.0
  1291729    8805      296     1.0
  1291973    8805     1274     3.0
  1292134    8805     1968     3.0),
 (8944,
           userId  movieId  rating
  1310646    8944        1     3.5
  1310647    8944        2     3.5
  1310664    8944      296     4.0
  1310728    8944     1274     4.5
  1310762    8944     1968     5.0),
 (8990,
           userId  movieId  rating
  1322321    8990        1     4.0
  1322322    8990        2     2.0
  1322338    8990      296     4.0
  1322390    8990     1274     5.0
  1322427    8990     1968     3.0),
 (9145,
           userId  movieId  rating
  1347258    9145        1     4.0
  1347259    9145        2     3.0
  1347341    9145      296     3.5
  1347596    9145     1274     3.5
  1347767    9145     1968     3.0),
 (9175,
           userId  movieId  rating
  1353963    9175        1     1.0
  1353964    9175        2     1.0
  1354049    9175      296     5.0
  1354454    9175     1274     1.0
  1354668    9175     1968     2.0),
 (9305,
           userId  movieId  rating
  1374096    9305        1     1.0
  1374097    9305        2     1.0
  1374117    9305      296     5.0
  1374192    9305     1274     5.0
  1374222    9305     1968     3.0),
 (9410,
           userId  movieId  rating
  1387072    9410        1     2.5
  1387073    9410        2     2.5
  1387112    9410      296     3.5
  1387238    9410     1274     3.5
  1387309    9410     1968     3.5),
 (9454,
           userId  movieId  rating
  1393361    9454        1     5.0
  1393362    9454        2     4.5
  1393384    9454      296     5.0
  1393453    9454     1274     5.0
  1393487    9454     1968     4.5),
 (9650,
           userId  movieId  rating
  1428432    9650        1     3.0
  1428433    9650        2     3.0
  1428490    9650      296     4.0
  1428650    9650     1274     5.0
  1428759    9650     1968     4.0),
 (9772,
           userId  movieId  rating
  1443780    9772        1     3.0
  1443781    9772        2     3.0
  1443804    9772      296     3.5
  1443857    9772     1274     3.5
  1443894    9772     1968     3.5),
 (9790,
           userId  movieId  rating
  1445437    9790        1     5.0
  1445438    9790        2     4.0
  1445478    9790      296     5.0
  1445718    9790     1274     1.0
  1445858    9790     1968     1.0),
 (9795,
           userId  movieId  rating
  1446695    9795        1     4.5
  1446696    9795        2     2.0
  1446736    9795      296     4.5
  1446861    9795     1274     2.5
  1446918    9795     1968     4.0),
 (9838,
           userId  movieId  rating
  1455746    9838        1     2.5
  1455747    9838        2     3.0
  1455767    9838      296     3.5
  1455870    9838     1274     3.0
  1455935    9838     1968     3.0),
 (10012,
           userId  movieId  rating
  1477905   10012        1     4.0
  1477906   10012        2     3.0
  1477973   10012      296     5.0
  1478129   10012     1274     5.0
  1478239   10012     1968     2.0),
 (10059,
           userId  movieId  rating
  1486787   10059        1     3.5
  1486788   10059        2     3.0
  1486821   10059      296     5.0
  1486894   10059     1274     3.5
  1486939   10059     1968     4.0),
 (10178,
           userId  movieId  rating
  1503857   10178        1     5.0
  1503858   10178        2     3.5
  1503899   10178      296     4.0
  1504078   10178     1274     3.0
  1504166   10178     1968     3.0),
 (10321,
           userId  movieId  rating
  1524604   10321        1     3.0
  1524605   10321        2     3.0
  1524753   10321      296     5.0
  1525250   10321     1274     1.0
  1525627   10321     1968     2.0),
 (10387,
           userId  movieId  rating
  1533930   10387        1     4.0
  1533931   10387        2     3.5
  1533956   10387      296     5.0
  1534046   10387     1274     4.5
  1534090   10387     1968     4.5),
 (10389,
           userId  movieId  rating
  1534423   10389        1     4.0
  1534424   10389        2     4.0
  1534511   10389      296     5.0
  1534769   10389     1274     4.0
  1534921   10389     1968     4.0),
 (10443,
           userId  movieId  rating
  1542690   10443        1     4.5
  1542691   10443        2     4.0
  1542751   10443      296     4.5
  1542997   10443     1274     2.5
  1543147   10443     1968     3.0),
 (10497,
           userId  movieId  rating
  1552135   10497        1     4.0
  1552136   10497        2     3.5

In [21]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovie = inputMovie.sort_values(by='movieId')
    #Get the N for the formula
    n = len(group)
    #Get the review scores for the movies that they both have in common
    temp = inputMovie[inputMovie['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp['rating'].tolist()
    #put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(n)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(n)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(n)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorDict[name] = 0

In [22]:
pearsonCorDict.items()

dict_items([(91, -0.6890618270883883), (294, 0.10783277320343156), (586, 0.7836445860269199), (648, 0.444102681159703), (775, 0.46266531814837414), (812, -0.12945217625467967), (869, 0.07624928516630236), (903, 0.0660338179744212), (1200, 0.2494610901255917), (1244, 0.29654012630945475), (1715, 0.6309898162000303), (1748, 0.5114957546028552), (1763, 0.1760901812651271), (1810, 0.6990252954195334), (1813, 0.36589645615870564), (1849, 0.06603381797442423), (1864, 0.5114957546028552), (1942, 0.23262521394079627), (1984, -0.7994259492812168), (2047, 0.5477103564747346), (2099, -0.10783277320343156), (2367, -0.10783277320343994), (2397, 0), (2515, 0.9244734516419062), (2661, 0.835703992326648), (2757, 0.8439249387982215), (2959, 0.23055616708169688), (2988, 0.29809064964264287), (3179, 0.0), (3218, 0.26413527189768793), (3268, 0.7781270639007126), (3269, 0.3606167767094639), (3318, 0.3026049692947228), (3397, 0.46107317554294897), (3487, -0.3774147062120338), (3576, 0.39620290784652895), (3629, 0.5906244232186185), (3858, -0.07823011594259388), (3986, 0.12056070554260306), (4034, 0.4313310928137531), (4332, 0.26413527189768593), (4358, 0.17049858486761843), (4529, -0.12888481555661682), (4598, 0.26413527189768443), (4696, 0.37741470621203593), (5504, -0.579601155968481), (5518, 0.1968748077395395), (5576, 0.6890618270883883), (5706, 0.1968748077395395), (5791, 0.3774147062120368), (5825, 0.5075459213253782), (6057, 0.8364283610093444), (6207, 0.057639041770424365), (6233, -0.5187513759338138), (6369, 0.3774147062120368), (6630, -0.07188851546895997), (6743, 0.6827688932004708), (6976, -0.17032272243312685), (6978, 0.8357039923266462), (7083, -0.1903297204970173), (7443, 0.5114957546028552), (7539, 0.5348837209302323), (7545, 0.3509885473947315), (8032, 0.9400643223910575), (8082, 0.8859366348279278), (8207, 0.48424799847909017), (8316, 0.8069465847859308), (8405, 0.37741470621203593), (8412, 0.3328770246548887), (8417, 0.3774147062120368), (8558, 0.7271614469220996), (8623, 0.7781270639007186), (8805, -0.37741470621203405), (8944, 0.6842472173461585), (8990, 0.5498414147691564), (9145, -0.2017366461964786), (9175, 0.4176345347922785), (9305, 0.9644856443408245), (9410, 0.9244734516419048), (9454, 0.26413527189768593), (9650, 0.9510441892119876), (9772, 0.9244734516419071), (9790, -0.5647449664020139), (9795, -0.10281451514408314), (9838, 0.6819943394704737), (10012, 0.4253428648368024), (10059, 0.4928713255803919), (10178, -0.6628489803598699), (10321, -0.1950768266287071), (10387, 0.7613188819880644), (10389, 0.3774147062120368), (10443, -0.6105716541821835), (10497, -0.26413527189768593), (10514, 0.29261523994306154), (10560, 0.5402893024772932), (10621, -0.12945217625467967), (10670, 0.616315634427937), (10821, 0.2219180164365905), (10822, 0.02224420266500519), (10989, 0.057639041770424365)])

In [23]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorDict, orient='index')
print(pearsonDF)
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

              0
91    -0.689062
294    0.107833
586    0.783645
648    0.444103
775    0.462665
...         ...
10621 -0.129452
10670  0.616316
10821  0.221918
10822  0.022244
10989  0.057639

[100 rows x 1 columns]

   similarityIndex  userId
0        -0.689062      91
1         0.107833     294
2         0.783645     586
3         0.444103     648
4         0.462665     775

In [24]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head(20)

    similarityIndex  userId
77         0.964486    9305
80         0.951044    9650
63         0.940064    8032
81         0.924473    9772
23         0.924473    2515
78         0.924473    9410
64         0.885937    8082
25         0.843925    2757
51         0.836428    6057
24         0.835704    2661
58         0.835704    6978
66         0.806947    8316
2          0.783645     586
71         0.778127    8623
30         0.778127    3268
89         0.761319   10387
70         0.727161    8558
13         0.699025    1810
47         0.689062    5576
73         0.684247    8944

**Rating of selected users to all movies**
We're going to do this by taking the weighted average of the ratings of the movies using the Pearson Correlation as the weight. But to do this, we first need to get the movies watched by the users in our pearsonDF from the ratings dataframe and then store their correlation in a new column called _similarityIndex". This is achieved below by merging of these two tables.

In [25]:
topUsersRating=topUsers.merge(rating, left_on='userId', right_on='userId', how='inner')
topUsersRating.head(15)

    similarityIndex  userId  movieId  rating
0          0.964486    9305        1     1.0
1          0.964486    9305        2     1.0
2          0.964486    9305       11     1.0
3          0.964486    9305       21     1.0
4          0.964486    9305       32     2.0
5          0.964486    9305       39     2.0
6          0.964486    9305       46     1.0
7          0.964486    9305       47     4.0
8          0.964486    9305       58     3.0
9          0.964486    9305       60     1.0
10         0.964486    9305      111     5.0
11         0.964486    9305      123     5.0
12         0.964486    9305      163     4.0
13         0.964486    9305      164     3.0
14         0.964486    9305      202     4.0

multiply the movie rating by its weight (The similarity index), then sum up the new ratings and divide it by the sum of the weights.

We can easily do this by simply multiplying two columns, then grouping up the dataframe by movieId and then dividing two columns:

In [26]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0         0.964486    9305        1     1.0        0.964486
1         0.964486    9305        2     1.0        0.964486
2         0.964486    9305       11     1.0        0.964486
3         0.964486    9305       21     1.0        0.964486
4         0.964486    9305       32     2.0        1.928971

In [27]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  30.998297          105.356196
2                  30.998297           85.222713
3                   9.567244           21.072345
4                   0.888910            2.289317
5                   5.368970           13.468631

In [28]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.398774        1
2                                     2.749271        2
3                                     2.202551        3
4                                     2.575419        4
5                                     2.508606        5

In [35]:
recommendation_df.values.head(5)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [30]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
4422                                       5.0     4422
25744                                      5.0    25744
42217                                      5.0    42217
2068                                       5.0     2068
1419                                       5.0     1419
8785                                       5.0     8785
93164                                      5.0    93164
26587                                      5.0    26587
1585                                       5.0     1585
5408                                       5.0     5408

In [31]:
movie.loc[movie['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

       movieId                                              title  year
1385      1419                                          Walkabout  1971
1533      1585                                      Love Serenade  1996
1984      2068          Fanny and Alexander (Fanny och Alexander)  1982
4327      4422            Cries and Whispers (Viskningar och rop)  1972
5311      5408                                               Nora  2000
8102      8785                             Early Summer (Bakush)  1951
8345     25744  Haxan: Witchcraft Through the Ages (a.k.a. The...  1922
8937     26587                           Decalogue, The (Dekalog)  1989
10709    42217                              Late Spring (Banshun)  1949
18706    93164                     Sleep Tight (Mientras duermes)  2011